.fullWidth {
    width:100%;
}

img {
    max-width: 100%;
}

.mt-auto {
    margin-top: auto;
} 

.dashboardCard {
    min-height:168px;
    width: 100%;
}

.minContentDash {
    min-height: 94px;
}

body {
    margin: 0px;
}
.dflex {
    display: flex
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
/* unvisited link */
a:link {
    color: #284CEB;
}

* {
   transition: all .2s linear;
   font-family: Roboto;
}
  
/* visited link */
a:visited {
    color: #284CEB;
}
  
/* mouse over link */
a:hover {
    color: #203DBC;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #284CEB;
}

a {
    text-decoration: none;
}

.noTransition {
    transition: none !important;
}

.navigation {
    a:hover {
        color: initial;
        text-decoration: none;
    }
    a:active {
        color: initial;
    }
}

.p25 {
    padding: 1.5rem;
}

.pb25 {
    padding-bottom: 1.5rem;
}

.pt25 {
    padding-top: 1.5rem;
}
.pl25 {
    padding-left: 1.5rem;
}

.pr25 {
    padding-right: 1.5rem;
}

.m25 {
    margin: 1.5rem;
}

.mb25 {
    margin-bottom: 1.5rem;
}

.mt25 {
    margin-top: 1.5rem;
}
.ml25 {
    margin-left: 1.5rem;
}

.mr25 {
    margin-right: 1.5rem;
}