#mapId {
    height:100vh;
    width:auto;
 }

.grecaptcha-badge { visibility: hidden; }

.fullWidth {
    width:100%;
}

img {
    max-width: 100%;
}

.mt-auto {
    margin-top: auto;
}

.h-fit {
    height: fit-content;
}

.dashboardCard {
    min-height:182px;
    width: 100%;
}

.DateInput__disabled, .DateInput_input__disabled {
    background: none;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
    //@at-root: none;
}

.grid {
    display: grid;
}

.minContentDash {
    min-height: 80px;
}

.x-visible {
    overflow-x: visible !important;;
}

body {
    margin: 0px;
}
.dflex {
    display: flex
}

.reset-zoom {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
    border: 1px solid #4967EE;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    background: #FFFFFF;
    color: #4967EE;
    min-height: 32px;
    padding: 8px 12px;
    font-size: 12px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

.mt-auto {
    margin-top: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
/* unvisited link */
a:link {
    color: #284CEB;

    &.a-blue-2 {
        color: #2899F6;
    }
}

* {
   transition: all .2s linear;
   font-family: Roboto;
}

/* visited link */
a:visited {
    color: #284CEB;

    &.a-blue-2 {
        color: #2899F6;
    }
}

/* mouse over link */
a:hover {
    color: #203DBC;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #284CEB;

    &.a-blue-2 {
        color: #2899F6;
    }
}
a {
    text-decoration: none;
}
.noTransition {
    transition: none !important;
}

.pointer {
    cursor: pointer;
}

.navigation {
    a:hover {
        color: initial;
        text-decoration: none;
    }
    a:active {
        color: initial;
    }
}

#liveListTable, #videosListTable, #playlistListTable, #folderContentTable {
    tbody{
        tr{
            height: 64px;
        }
    }
}

.iconAction {
    visibility: hidden;
    transition: none;
    * {
        transition: none;
    }
}

@media screen and (max-width: 780px) {
    .iconAction {
      visibility:visible;
    }
}

.text-semibold {
    font-weight: 500;
}

.inline-flex {
    display: inline-flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.text-decoration-underline {
    text-decoration: underline;
}

.bg-w {
    background: white;
}

.px15 {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.p25 {
    padding: 1.5rem;
}

.pb25 {
    padding-bottom: 1.5rem;
}

.pt25 {
    padding-top: 1.5rem;
}
.pl25 {
    padding-left: 1.5rem;
}

.pr25 {
    padding-right: 1.5rem;
}

.ml-2 {
    margin-left: -1rem;
}

.m25 {
    margin: 1.5rem;
}

.mb25 {
    margin-bottom: 1.5rem;
}

.mt25 {
    margin-top: 1.5rem;
}
.ml25 {
    margin-left: 1.5rem;
}

.mr25 {
    margin-right: 1.5rem;
}

.mb35 { margin-bottom: 2.5rem}

.py35 { padding-top: 2.5rem; padding-bottom: 2.5rem;}

.recurly-element-number, .recurly-element {
    width: 100%;
}

/** Singe Date Picker override **/

.DateInput {
    width: auto;
}

.SingleDatePickerInput_calendarIcon {
    position: absolute;
    right: 0px;
}
.pt35 {
    padding-top: 2.5rem;
}

.DateRangePicker_picker {
    z-index: 1001;
}
.SingleDatePickerInput {
    width:100%;
}
/** Carousel override css classes  **/

.carousel .slide {
    background-color: unset !important;
    margin-top: 20px;
}

.slide.selected {
    margin-top: 0 !important;
    padding-bottom: 50px;
}

.dot {
    background-color: black !important;
}

.control-dots {
    padding-inline-start: unset;
}

.tableTest {
    position: relative;
}

.tableTest > .ScrollbarsCustom-Wrapper {
    position: relative !important;
}

.tableOverflow .ScrollbarsCustom-Wrapper {
    overflow: visible !important;
    z-index: 10;
}

.tableOverflow .ScrollbarsCustom-Scroller {
    overflow: visible !important;
    z-index: 10;
}

.unsavedChangesContainer {
    box-sizing: border-box;
    padding: 24px;
    width: 400px;
    box-shadow: 0px 4px 4px rgba(34, 47, 62, 0.2);
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999;
}

.unsavedChangesOverlay {
    background: rgba(34, 47, 62, 0.7);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
}

.unsavedChangesTitle {
    margin-bottom: 8px;
    align-items: center;
    display: flex;
}

.unsavedChangesText {
    font-family: 'Roboto';
    font-style: normal;
    color: #222F3E;

    &-Header {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        margin-left: 8px;
    }

    &-Body {
        font-size: 14px;
        line-height: 32px;

        &-Bold {
            font-weight: 500;
        }
    }
}

.col-12-important {
    width: 100% !important;
}
.unsavedChangesBody {
    margin-top: 16px;
}

.unsavedChangesFooter {
    & > * {
        margin-right: 12px;
    }
}

.unsavedChangesStayButton {
    min-height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border: 1px solid #4967EE;
    background: #4967EE;
    color: white;
}

.unsavedChangesLeaveButton {
    min-height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #4967EE;
    border: none;
}

.inplayer-parent, .inplayer-paywall { height:100%}
.inplayer-paywall { max-height: 100%; }


/**  Responsive stuff */

.xs-show {
    display: none;
}

.sm-show {
    display:none;
}

/** XS custom class */
@media (max-width: 40em) {
    .xs-no-gutter {
        padding-left: 0;
        padding-right: 0;
    }
    .xs-mb1 {
        margin-bottom: .5em;
    }
    .xs-mb2 {
        margin-bottom: 1rem;
    }
    .xs-mr0 {
        margin-right: 0;
    }
    .xs-mb25 {
        margin-bottom: 1.5em;
    }
    .xs-show {
        display: initial;
    }
    .xs-mr1 {
        margin-right: .5em;
    }
    .xs-pr1 {
        padding-right: .5em;
    }
    .xs-pl1 {
        padding-left: .5em;
    }
    .xs-mt2 {
        margin-top: 1rem;
    }
    .xs-justify-center {
        justify-content: center;
    }
}

/** SM custom class */
@media (min-width: 40em) {
    .sm-px1 { padding-left:   var(--space-1); padding-right:  var(--space-1) }
    .sm-pr1 {
        padding-right: .5em;
    }
    .sm-py1 {
        padding-top: var(--space-1); padding-bottom: var(--space-1)
    }
    .sm-pl1 {
        padding-left: .5em;
    }
    .sm-show {
        display:initial;
    }
    .sm-mr1 {
        margin-right: .5em;
    }
    .sm-ml2 {
        margin-left: 1em;
    }
    .sm-flex {
        display:flex;
    }
    .sm-mt-auto {
        margin-top: auto;
    }
    .sm-mt3 {
        margin-top: 2rem;
    }
    .sm-justify-center {
        justify-content: center;
    }
}


.rt-table {
    background-color: white;
}
